<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{#{% block title %}Login{% endblock %}#}
{% block content2 %}
<div class="content-section">
  <div class="center">
    <h1>Inloggen aub </h1>
    <br/>
    {{ wtf.quick_form(form) }}
      <br>
    <form action="/">
      <button  name="smartschool" type="submit"  style="border:none; background-color:transparent;">
      <img src="{{ url_for('static', filename='img/btn_aanmelden_op_smartschool_290x40.png') }}" />
      </button>
    </form>

  </div>
</div>
{% endblock %}