<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{#{% block title %}Login{% endblock %}#}
{% block content2 %}
<div class="content-section  background-image">
    <br>
    <br>
    <br>
    <br>
    <div class="center">
        <div class="container">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 nice-green-border" >
                <div class="row">
                    <h1>Inloggen aub </h1>
                </div>
                <div class="row">
                    <form action="/" enctype=multipart/form-data>
                        <button name="smartschool" type="submit" style="border:none; background-color:transparent;">
                            <img src="{{ url_for('static', filename='img/btn_aanmelden_op_smartschool_290x40.png') }}"/>
                        </button>
                    </form>
                </div>
                <div class="row">
                    <h2 style="text-align:center;">of</h2>
                </div>
                <div class="row nice-green-border" >
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}