{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section center">
    <h3>Klasoverzicht</h3>
    <form action="{{ url_for('grade.show')}}" method="post" class="form" role="form" id="form_filter" enctype=multipart/form-data>
        <div id="filter_group">
            <table class="table-condensed ">
                <tr>
                    <td>{{ wtf.form_field(form_filter.teacher) }}</td>
                    <td>{{ wtf.form_field(form_filter.dayhour) }}</td>
                    <td>{{ wtf.form_field(form_filter.grade) }}</td>
                    <td>{{ wtf.form_field(form_filter.lesson) }}</td>
                </tr>
            </table>
            <input type="hidden" id="change_id" name="change_id" value="test">
            <br/>
        </div>
        <div class="container-fluid" id="students">
            {% for s in students %}
            <figure class="imagecaption" style="text-align:center;">
                <img src="../../static/photo/{{ s.photo }}" height="120" align="middle">
                <figcaption>{{s.first_name}}<br>{{s.last_name}}</figcaption>
                <input type="hidden" id="id" value="{{ s.id|string }}">
            </figure>
            {% endfor %}
        </div>
        <br>
    <button class="btn btn-default" name="button-pressed" value="add" onclick="add_remark();">Volgende</button>
    <a class="btn btn-default" type=button" id="select_all" onclick="select_all_students()">Selecteer iedereen</a>
    </form>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"> {% include "grade/grade.js" %}</script>
{% endblock %}