{#
Show a single remark page
#}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% import "mywtf.html" as mywtf %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section center">
    <h3>Opmerking toevoegen/wijzigen</h3>
    <form action="{{url_for(subject + '.action_done', action=action, id=form.id.data)}}" method="post" class="form" role="form" id="item_form" enctype=multipart/form-data>
        <div class="hidden">
            {% if save_filters %}
            {{ wtf.form_field(save_filters.teacher) }}
            {{ wtf.form_field(save_filters.grade) }}
            {{ wtf.form_field(save_filters.dayhour) }}
            {{ wtf.form_field(save_filters.lesson) }}
            <input type="hidden" id="change_id" name="change_id" value="teacher">
            {% endif %}
            {% if save_remarks %}
            {% for r in save_remarks %}
            <input type="hidden" name="remark_id" value="{{ r.id|string }}">
            {% endfor %}
            {% endif %}
        </div>
        <div class="container-fluid">
            {% for s in students %}
            <figure class="imagecaption" style="text-align:center;">
                <img src="../../static/photo/{{ s.photo }}" height="120">
                <figcaption>{{s.first_name}}<br>{{s.last_name}}</figcaption>
                <input type="hidden" id="id" name="student_id" value="{{ s.id|string }}">
            </figure>
            {% endfor %}
        </div>
        <br>
        <div class="container-fluid">
            <div class="form-group row">
                {{ mywtf.select_multiple(form.subject, grid_class = 'col-sm-5') }}
                {{ mywtf.select_multiple(form.measure, grid_class = 'col-sm-5') }}
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label for="subject_note">Notitie bij opmerking</label>
                    <textarea class="form-control" rows="5" id="subject_note" name="subject_note"></textarea>
                </div>
                <div class="col-sm-5">
                    <label for="measure_note">Notitie bij maatregel</label>
                    <textarea class="form-control" rows="5" id="measure_note" name="measure_note"></textarea>
                </div>
            </div>
        </div>
        <input class="form-check-input" type="checkbox" name="chkb_extra_attention" id="extra-attention-id">
        <label class="form-check-label" for="extra-attention-id">Extra aandacht!</label>
        <br/>
        <button class="btn btn-default" name="button-pressed" value="save">Bewaar</button>
<!--        Following line does NOT work with iphone chrome and iphone safary-->
<!--        <button class="btn btn-default" name="button" value="save" onclick="$('#item_form').submit();">Bewaar</button>-->
        <button class="btn btn-default" name="button-pressed" value="cancel" formnovalidate>Annuleer</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
</script>

{% endblock %}