<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% import "mywtf.html" as mywtf %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
    <form action="{{ url_for('overview.show')}}" method="post" class="form" role="form" id="filter_form" enctype=multipart/form-data>
        <div class="hidden">
            {{ wtf.form_field(form_filter.teacher) }}
            {{ wtf.form_field(form_filter.classgroup) }}
            {{ wtf.form_field(form_filter.dayhour) }}
        </div>
        <div class="container-fluid">
        {% for s in students %}
            <figure class="imagecaption">
                <img src="../../static/photo/{{ s.photo }}" height="120">
                <figcaption>{{ s.first_name + ' ' + s.last_name }}</figcaption>
                <input type="hidden" id="id" name="student_id" value="{{ s.id|string }}">
            </figure>
        {% endfor %}
        </div>
        <div class="container-fluid">
            <div class="form-group row">
                {{ mywtf.select_multiple(form_offence.type, grid_class = 'col-sm-5') }}
                {{ mywtf.select_multiple(form_offence.measure, grid_class = 'col-sm-5') }}
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                  <label for="comment_offence">Opmerking bij overtreding</label>
                  <textarea class="form-control" rows="5" id="comment_offence" name="comment_offence"></textarea>
                </div>
                <div class="col-sm-5">
                  <label for="comment_measure">Opmerking bij maatregel</label>
                  <textarea class="form-control" rows="5" id="comment_measure" name="comment_measure"></textarea>
                </div>
            </div>
        </div>
        <br/>
        <input class="btn btn-default" id="dummy_offence" name="button" type="submit" value="Bewaar" formaction="{{ url_for('overview.show')}}">
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    $("#filter_group").change(function(){
        //alert('test update filter');
        $("#filter_form").submit();
    });

    $('figure').click(function() {
        //New Code replaced here
        //alert('test');
        $(this).toggleClass('selected');
        //$(this).find('#id').val('true');
        var current = $(this).find('#id').val();
        if(current == 'true') {
            $(this).find('#id').val('false');
        } else {
            $(this).find('#id').val('true');
        }
    });
});
</script>

{% endblock %}