<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
  {{ utils.flashed_messages() }}
    <div>
        <h1>Overzicht</h1>
        <br/>
        <form action="{{ url_for('overview.overview')}}" method="post" class="form" role="form" id="select_form" enctype=multipart/form-data>
            <div id="select_group">
                {{ wtf.form_field(form.teacher, form_type="horizontal", horizontal_columns=("sm", 1, 1)) }}
                {{ wtf.form_field(form.classgroup, form_type="horizontal", horizontal_columns=("sm", 1, 1)) }}
                {{ wtf.form_field(form.dayhour, form_type="horizontal", horizontal_columns=("sm", 1, 2)) }}
                <br/>
                <br/>
                <br/>
            </div>
        </form>
        {% for s in students %}
        <div class="imagecaption">
            <figure>
                <img src="../../static/photo/{{ s.photo }}" height="120">
                <figcaption>{{ s.first_name + ' ' + s.last_name }}</figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    $("#select_group").change(function(){
        $("#select_form").submit();
    });
});
</script>

{% endblock %}