<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
    <form action="{{ url_for('overview.show')}}" method="post" class="form" role="form" id="filter_form" enctype=multipart/form-data>
        <div id="filter_group">
            {{ wtf.form_field(form.teacher, form_type="horizontal", horizontal_columns=("sm", 1, 1)) }}
            {{ wtf.form_field(form.dayhour, form_type="horizontal", horizontal_columns=("sm", 1, 1)) }}
            {{ wtf.form_field(form.classgroup, form_type="horizontal", horizontal_columns=("sm", 1, 1)) }}
            {{ wtf.form_field(form.lesson, form_type="horizontal", horizontal_columns=("sm", 1, 1)) }}
            <input type="hidden" id="change_id" name="change_id" value="test">
            <br/>
            <br/>
        </div>
        <div class="container-fluid">
        {% for s in students %}
            <figure class="imagecaption">
                <img src="../../static/photo/{{ s.photo }}" height="120">
                <figcaption>{{ s.first_name + ' ' + s.last_name }}</figcaption>
                <input type="hidden" id="id" value="{{ s.id|string }}">
            </figure>
        {% endfor %}
        </div>
        <input class="btn btn-default" id="dummy_offence" name="button" type="submit" value="Volgende" formaction="{{ url_for('overview.new_offence')}}">
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" > {% include "overview/overview.js" %}</script>
{% endblock %}