<!-- app/templates/base_multiple_items.html -->
{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content2 %}
<div class="content-section">
  {{ utils.flashed_messages() }}
    <!-- begin message block -->
<div class="container flashed-messages">
  <div class="row">
    <div class="col-md-12" id="flash-list">
    </div>
  </div>
</div>
<!-- end message block -->
  <div class="center">
{% if filter %}
      <form method="post" enctype=multipart/form-data>
      <table class="table-condensed ">
          <tr>
{% if 'date' in filter %}
              <th>Datum</th>
{% endif %}
{% if 'teacher' in filter %}
              <th>Leerkracht</th>
{% endif %}
{% if 'classgroup' in filter %}
              <th>Klas</th>
{% endif %}
          </tr>
          <tr>
{% if 'date' in filter %}
              <td><input id="date_after" class="filter" name="date_after" type="text" size="12"></td>
{% endif %}
{% if 'teacher' in filter %}
              <td rowspan="2"  >{{ wtf.form_field(filter_form.teacher.teacher) }}</td>
{% endif %}
{% if 'classgroup' in filter %}
              <td rowspan="2"  >{{ wtf.form_field(filter_form.classgroup.classgroup) }}</td>
{% endif %}
          </tr>
          <tr>
{% if 'date' in filter %}
              <td><input id="date_before" class="filter" name="date_before" type="text" size="12"></td>
{% endif %}
          </tr>
      </table>
      <br>
      <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-default" id="filter">Filter</a>
          <a class="btn btn-default" id="clear">Wissen</a>
          {% if 'export' in config %}
            <input class="btn btn-default" id="export" type="submit" value="Export"  formaction="{{ url_for(config.export) }}">
          {% endif %}
      </div>

{% endif %}
      </form>
      {% if not config.disable_add_button %}
      <hr />
      <form method ="post" action="{{ url_for(config.subject + '.add') }}" novalidate>
      <div class="btn-group" role="group" aria-label="...">
           <input class="btn btn-default" id="add" name="add" type="submit" value="Voeg {{config.title}} toe">
      </div>
      <hr />
      {% endif %}
      <table cellspacing="0" class="table table-striped table-bordered " id="datatable" width="100%">
          <thead><tr>
              {% for h in config.template %}
                <th>{{h.name}}</th>
              {% endfor %}
          </thead>
      </table>
      </form>
  </div>
</div>

<div id="menu">
    {% for i in config.floating_menu %}
        <a id="{{i['menu_id']}}" onclick="handle_floating_menu('{{i['menu_id']}}')">{{i['menu_text']}}</a>
    {% endfor %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>

//row_id is filled in with the database id of the item (asset, purchase,...) at the moment the user rightclicks on a row
var row_id
//The metadata of the floating menu.  See tables_config.py
var floating_menu = JSON.parse('{{config.floating_menu|tojson}}');
//menu_id indicates what entry is clicked in the floating menu (edit, add, ...)
function handle_floating_menu(menu_id) {
    console.log(menu_id + ' : ' + row_id);
    for(var i=0; i < floating_menu.length; i++) {
        if(floating_menu[i].menu_id == menu_id) {
            if(floating_menu[i].flags.includes('confirm_before_delete')) {
                confirm_before_delete(row_id);
            } else if(floating_menu[i].flags.includes('id_required')) {
                window.location.href=Flask.url_for('{{config.subject}}.' + floating_menu[i].route, {'id':row_id});
            } else {
                window.location.href=Flask.url_for('{{config.subject}}.' + floating_menu[i].route);
            }
        }
    }
}

//Before removing an entry, a confirm-box is shown.
function confirm_before_delete(id) {
    var message = "Are you sure want to delete this " + '{{config.subject}}' + "?";
    if ('{{ config.delete_message }}') {message='{{ config.delete_message }}';}
    bootbox.confirm(message, function(result) {
        if (result) {
            window.location.href = Flask.url_for('{{config.subject}}' + ".delete", {'id' : id})
        }
    });
}


$(document).ready(function() {
    //The clear button of the filter is pushed
    $('#clear').click(function() {
        $('.filter').val('');
        $('#teacher').val('');
        $('#classgroup').val('');
        //emulate click on trigger button
        $('#filter').trigger('click');
    });

    var filter_settings
    //Get content from localstorage and store in fields
    try {
        filter_settings = JSON.parse(localStorage.getItem("Filter"));
        $('#date_before').val(filter_settings['date_before']);
        $('#date_after').val(filter_settings['date_after']);
        $('#teacher').val(filter_settings['teacher']);
        $('#classgroup').val(filter_settings['classgroup']);
    } catch (err) {
    }

    //The filter button of the filter is pushed
    $('#filter').click(function() {
        //Store filter in localstorage
        filter_settings = {"date_before" : $('#date_before').val(),
                   "date_after" : $('#date_after').val(),
                   "teacher" : $('#teacher').val(),
                   "classgroup" : $('#classgroup').val()
                   };
        //alert(JSON.stringify(filter_settings));
        localStorage.setItem("Filter", JSON.stringify(filter_settings));
        table.ajax.reload();
    });

    //Configure datatable.
    var table = $('#datatable').DataTable({
       serverSide: true,
       stateSave: true,
       dom : 'lfiptp',
       ajax: {
           url: '/{{config.subject}}/data',
           type: 'POST',
           data : function (d) {
               return $.extend( {}, d, filter_settings);
           }
       },
       pagingType: "full_numbers",
       lengthMenu: [20, 50, 100, 200],
       "columns": [
       {% for h in config.template %}
           {data: "{{h.data}}", name: "{{h.name}}", width: "{{h.width}}"},
       {% endfor %}
       ],
       "language" : {
        /*"url" : "static/DataTables/nl_nl.lang"*/
        "url" : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Dutch.json"
      }
    });

     //flash messages, if required
     table.on( 'draw', function () {
        var j = table.ajax.json();
        $("#flash-list").html('');
        if(j.flash && j.flash.length) {
            var flash_string="";
            for(let s of j.flash) {
                flash_string += "<div class=\"alert alert-info\" role=\"alert\">" + s +"</div>";
            }
                $("#flash-list").html(flash_string);
        }
     });


    //right click on an item in the table.  A menu pops up to execute an action on the selected row/item
    var i = document.getElementById("menu").style;
    document.getElementById("datatable").addEventListener('contextmenu', function(e) {
        var posX = e.clientX;
        var posY = e.clientY;
        menu(posX, posY);
        e.preventDefault();
        row_id = $(e.target).closest('tr').prop('id');
    }, false);
    document.addEventListener('click', function(e) {
        i.opacity = "0";
        setTimeout(function() {i.visibility = "hidden";}, 1);
    }, false);

    // Get column index when right clicking on a cell
    //$('#datatable tbody').on( 'contextmenu', 'td', function () {
    //    column_id = table.cell( this ).index().column;
    //    console.log( 'Clicked on cell in visible column: '+column_id );
    //});


    function menu(x, y) {
      i.top = y + "px";
      i.left = x + "px";
      i.visibility = "visible";
      i.opacity = "1";
    }
});
</script>
{% endblock %}
