<!-- app/templates/base_multiple_items.html -->
{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content2 %}
<div class="content-section">
    <div class="center">
        <form method="post" id="filter_form" enctype=multipart/form-data>
            <table class="table-condensed ">
                <tr>
                    {% if 'schoolyear' in filter %}
                    <td>{{ wtf.form_field(filter_form.schoolyear.schoolyear) }}</td>
                    {% endif %}
                    {% if 'teacher' in filter %}
                    <td>{{ wtf.form_field(filter_form.teacher.teacher) }}</td>
                    {% endif %}
                    {% if 'classgroup' in filter %}
                    <td>{{ wtf.form_field(filter_form.classgroup.classgroup) }}</td>
                    {% endif %}
                    {% if 'reviewed' in filter %}
                    <td>
                        <label for="rbn_reviewed">Welke opmerkingen</label>
                        <div class="radio" id = rbn_reviewed>
                            <label><input type="radio" id="rbn_reviewed_false" name="rbn_reviewed" value="false" checked>Nog niet gecontroleerd</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" id="rbn_reviewed_all" name="rbn_reviewed" value="all">Allemaal</label>
                        </div>
                    </td>
                    {% endif %}
                    {% if filter %}
                    <td>
                        <a class="btn btn-default" id="filter">Filter</a>
                    </td>
                    <td>
                        <a class="btn btn-default" id="clear">Wis filter</a>
                    </td>
                    {% endif %}
                </tr>
            </table>
        </form>
        <hr style="border-top: 10px solid #d1dc9c; margin-top: -5px; margin-bottom: 10px;"/>
        <form method="post" id="button_form">
                {% if 'delete' in config.buttons %}
                <a class="btn btn-default" onclick="confirm_before_delete()">Verwijder</a>
                {% endif %}
                {% if 'edit' in config.buttons %}
                <a class="btn btn-default" onclick="edit_remarks()">Pas aan</a>
                {% endif %}
                {% if 'start_check' in config.buttons and current_user.is_supervisor %}
                    <a class="btn btn-default" onclick="start_review()">Start controle</a>
                {% endif %}

            <table cellspacing="0" class="table table-striped table-bordered wrap" id="datatable" width="100%">
                <thead>
                <tr>
                    {% if 'row_detail' in config %}
                    <th></th>
                    {% endif %}
                    {% for h in config.template %}
                    {% if h.name=='cb' %}
                    <th><input type='checkbox' id="select_all"></th>
                    {% else %}
                    <th>{{h.name}}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                </thead>
            </table>
        </form>
        <br>
        <hr style="border-top: 10px solid #d1dc9c; margin-top: -5px; margin-bottom: 10px;"/>
    </div>
</div>

<div id="menu">
    {% for i in config.floating_menu %}
    <a id="{{i['menu_id']}}" onclick="handle_floating_menu('{{i['menu_id']}}')">{{i['menu_text']}}</a>
    {% endfor %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript"> {% include "base_multiple_items.js" %}</script>
{% endblock %}
