<!-- app/templates/base_single_item.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
    <div class="center">
        <h1>{{title}}</h1>
        <br/>
        <form action="{{ url_for(subject + '.' + role, id=form.id.data)}}" method="post" class="form" role="form" id="item_form" enctype=multipart/form-data>
            {{ form.csrf_token }}

            {% block content3 %}
            {% endblock %}

            {% if role == "view" %}
                {% if current_user.is_authenticated %}
                    <a class="btn btn-default" href="{{ url_for(subject + '.edit', id=form.id.data) }}">Wijzig</a>
                {% else %}
                    <a class="btn btn-default" href="{{ url_for('auth.login', redirect_url=url_for(subject + '.edit', id=form.id.data)) }}">Wijzig</a>
                {% endif %}
            {% else %}
                <button class="btn btn-default" name="button"value="save" onclick="$('#item_form').submit();">Bewaar</button>
            {% endif %}
            <a class="btn btn-default" href="javascript:history.back()">Annuleer</a>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript"> {% include "base_single_item.js" %}</script>
{% endblock %}